<section class="read-more">
   {% if page.next %}
   {% assign current = page.next %}
   <div class="read-more-item">
       <span class="read-more-item-dim">最近的文章</span>
       <h2 class="post-list__post-title post-title" style="font-size:1.2em"><a href="{{ current.url }}" title="link to {{ current.title }}">{{ current.title }}</a></h2>
   </div>
   {% endif %}
   
   {% if page.previous %}
   {% assign current = page.previous %}
   <div class="read-more-item">
       <span class="read-more-item-dim">更早的文章</span>
       <h2 class="post-list__post-title post-title" style="font-size:1.2em"><a href="{{ current.url }}" title="link to {{ current.title }}">{{ current.title }}</a></h2>
   </div>
   {% endif %}
</section>
